@page
<link rel="stylesheet" href="~/css/site.css">



<div class="Container">
    <div id="ServerListContainer">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-2">User</div>
            <div class="col-4"><input type="text" id="userInput" /></div>
        </div>
        <div class="row">
            <div class="col-2">Message</div>
            <div class="col-4"><input type="text" id="messageInput" /></div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="col-6">
                <input type="button" id="sendButton" value="Send Message" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>

    <div class="rooms">
        <div class="col-2">Room Name</div>
        <div class="col-4"><input type="text" id="roomNameInput" /></div>
        <div class="col-6">
            <input type="button" id="addRoomButton" value="Add Room" />
        </div>
        <ul id="roomsList"></ul>
    </div>


    <form method="post" id="joinRoomForm" target="_blank" action="/Room" enctype="multipart/form-data">
        @Html.AntiForgeryToken()
        <input name="Name" type="hidden" id="joinRoomInput"/>
    </form>


    <div class="GameSettings" id="GameSettings">
        
        <label for="gameSpeedInput">Game Speed</label>
        <input name="GameSpeed" type="text" id="gameSpeedInput" />

        <label for="jetSpeedInput">Jet Speed</label>
        <input name="JetSpeed" type="text" id="jetSpeedInput" />

        <label for="bulletSpeedInput">Bullet Speed</label>
        <input name="bulletSpeed" type="text" id="bulletSpeedInput" />

        <label for="bulletLifetimeInput">Bullet Lifetime</label>
        <input name="bulletLifetime" type="text" id="bulletLifetimeInput" />

        <label for="turnSpeedInput">Turn Speed</label>
        <input name="turnSpeed" type="text" id="turnSpeedInput" />

        <label for="sendSettingsButton">Send Settings</label>
        <input name="sendSettingsButton" type="button" id="sendSettingsButton" />

        <label for="startGameButton">Start Game</label>
        <input name="startGameButton" type="button" id="startGameButton" />

    </div>


    <!-- HTML for the first health bar -->




    <div id="GameContainer" style="padding-top: 10px">

    <div id="health-bar-1">
        Jet 1 health:
        <div id="health-level-1"></div>
    </div>
    <br />
    <!-- HTML for the second health bar -->
    <div id="health-bar-2">
        Jet 2 health:
        <div id="health-level-2"></div>
    </div>

    <br />

        <span><canvas id="gameCanvas" width="1000" height="1000" style="border: 1px solid #000000;"></canvas></span>
    </div>
</div>

<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js" asp-append-version="true"></script>
<script src="~/js/game.js" asp-append-version="true"></script>


