@page
@model SignalRGame.Pages.RoomModel
@{
}

<p hidden id="roomName">@Model.Name</p>

<span>Chat Room: @Model.Name</span>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<div class="tictactoe">

<!--cell number = row/col in 2d tictactoe board array-->

    <table id = "table">
        <tr>
            <td id="cell00" onclick = "sendTurn(0, 0)"> </td>
            <td id="cell01" onclick = "sendTurn(0, 1)"> </td>
            <td id="cell02" onclick = "sendTurn(0, 2)"> </td>
        </tr>
        <tr>
            <td id="cell10" onclick = "sendTurn(1, 0)"> </td>
            <td id="cell11" onclick = "sendTurn(1, 1)"> </td>
            <td id="cell12" onclick = "sendTurn(1, 2)"> </td>
        </tr>
        <tr>
            <td id="cell20" onclick = "sendTurn(2, 0)"> </td>
            <td id="cell21" onclick = "sendTurn(2, 1)"> </td>
            <td id="cell22" onclick = "sendTurn(2, 2)"> </td>
        </tr>
    </table>

<!--reset button that's disabled until game is over-->

</div>




<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/room.js"></script>