@page
@model SignalRChat.Pages.RoomModel
@{
}

<p hidden id="roomName">@Model.Name</p>

<span>Chat Room: @Model.Name</span>

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">User</div>
        <div class="col-4"><input type="text" id="userInput" /></div>
    </div>
    <div class="row">
        <div class="col-2">Message</div>
        <div class="col-4"><input type="text" id="messageInput" /></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>

<div class="tictactoe">
    <table id = "table">
        <tr>
            <td id="cell1"> </td>
            <td id="cell2"> </td>
            <td id="cell3"> </td>
        </tr>
        <tr>
            <td id="cell4"> </td>
            <td id="cell5"> </td>
            <td id="cell6"> </td>
        </tr>
        <tr>
            <td id="cell7"> </td>
            <td id="cell8"> </td>
            <td id="cell9"> </td>
        </tr>
    </table>

<!--reset button that's disabled until game is over-->

</div>




<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/room.js"></script>